<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
            <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
            {% endif %}
          <li class="page-item"><a class="page-link" href="#">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </a></li>
        {% if page_obj.has_next %}
          <li class="page-item">
            
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
            </li>
            <li class="page-item">
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
        {% endif %}
          </li>
        </ul>
      </nav>
</div>
</body>
</html>